body {
	background: rgba(155,155,50,.3);
	max-width:1200px;
	margin:auto;
}

p, ul {
	max-width:1000px;
	margin:auto;
	margin-bottom:30px;
	font-size:1.5em;
}

#pcimages {
	width:100%;
	display:flex;
	flex-wrap:wrap;
	margin-bottom:30px;
}

.imgandcaption {
	width:30%;
	border-style:solid;
	border-radius:5px;
	margin:auto;
	background-color:white;
	text-align:center;
}

.imgandcaption:hover {
	box-shadow:10px 10px 5px grey;
}

img {
	display:block;
	max-width:100%;
}

h1 {
	font-family:"Lucida Console", Monaco, monospace;
	text-align:center;
	font-size:3em;
}

#maintable {
	font-size:1.5em;
	border-spacing:0px;
	border-width:3px;
	border-style:solid;
	border-color:black;
}

th, td {
	border-style:solid;
	border-width:1px;
	border-color:black;
	width:300px;
	text-align:center;
}

td {
	border-style: dotted;
	color:rgb(0,0,100);
}
